<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印SQL -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 开启延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"></setting>
        <!-- 将即时加载改为按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"></setting>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"></setting>
    </settings>

    <!-- 配置Mybatis 的运行环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 配置JDBC的事务管理 -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123456"></property>
            </dataSource>
        </environment>
    </environments>

    <!-- 注册 UserMapper.xml -->
    <mappers>
        <mapper resource="com/wuxy/repository/UserRepository.xml"></mapper>
        <mapper resource="com/wuxy/repository/StudentRepository.xml"></mapper>
        <mapper resource="com/wuxy/repository/ClassesRepository.xml"></mapper>
        <mapper resource="com/wuxy/repository/CustomerRepository.xml"></mapper>
        <mapper resource="com/wuxy/repository/GoodsRepository.xml"></mapper>
    </mappers>

</configuration>